#titulo {
    color:#1985b4;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;
    background-color: black;
    text-align: center;
    text-decoration-style: wavy underline;
    text-shadow: 2px 2px white;
}
