body {
    background-image: url(img/fondo.jpg);
    font-family: 'Times New Roman', serif;
    color: black;
}
img {
    width: 30%;
    height: auto;
    border: 5px solid #d4d07a;
}
nav {
    background-color: #b08a0e;
    color: rgb(0, 0, 0);
    padding: 10px;
    display: inline-block;
    border:#613003 solid 5px;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li a {
    color: rgba(167, 127, 48, 0.9);
    text-decoration: none;
}
.contenedor {
    background-color: rgba(184, 126, 69, 0.7);
    margin: 0 auto;
    padding: 20px;
    width: 60%;
    max-width: 1000px;
    box-sizing: border-box;
}
hr {
    border: 1px solid #000000;
    color: #000000;
}
a {
    color: #000000;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: #ffb834;
}
